<header class="header">
  <mat-toolbar class="barra">
    <app-categorias></app-categorias>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="links">
      <ul>
          <li><a href="">Terminos y Condiciones</a></li>
          <li><a href="">Atencion Al Cliente</a></li>
          <li><a href="">Dirección</a></li>
          <li><a href="">Correo</a></li>
          <li><a href="">Ayuda</a></li>
      </ul>
  </div>
  <div class="copyright">
      <p class="brand-copy">© copyright 2023 - Mi Tienda</p>
      <p>Developed by Joaquin Gual</p>
  </div>


</footer>
