.conteiner {

  display: flex;
  justify-content: center;
  align-items: center;

  .seccion {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    app-producto {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--fondo);
      gap: 1.5rem;
      padding: 30px 15px;
    }
  }
}
@media(max-width:900px){
  .conteiner{
    display: block;
    width: 100%;
    .seccion{
      width: 100%;
    }
  }
}
