<nav>
  <div class="menu-res">
    <ul class="menu-horizontal">
      <li>
        <a><mat-icon class="icon">menu</mat-icon></a>
        <ul class="menu-vertical">
          <li><a routerLink="Inicio">Inicio</a></li>
          <li>
            <a>Categorias</a>
            <ul class="menu-vertical">
              <li><a routerLink="PRODUCTOS">Todos los Productos</a></li>
              <li *ngFor="let Categorias of data">
                <a [routerLink]="['/Categorias',Categorias]">{{Categorias}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <app-carro></app-carro>
  </div>
<div class="menu-barra">
  <ul class="menu-horizontal">
    <li><a routerLink="Inicio">Inicio</a></li>
    <li>
      <a>Categorias</a>
      <ul class="menu-vertical">
        <li><a routerLink="PRODUCTOS">Todos los Productos</a></li>
        <li *ngFor="let Categorias of data">
          <a [routerLink]="['/Categorias',Categorias]">{{Categorias}}</a>
        </li>
      </ul>
    </li>
    <app-carro></app-carro>
  </ul>
</div>

</nav>

