@import 'app/estilos/botonCompra.scss';
@import 'app/estilos/reset.scss';
@import 'app/estilos/seccion.scss';
@import 'app/estilos/variables.scss';
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--fondo); }
